<mat-card>
    <mat-card-content>
        <div fxLayout="row wrap">
            <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Cliente" aria-label="Cliente" [matAutocomplete]="autoCliente"
                        [(ngModel)]="txtCliente" name="cliente" #clienteDesc
                        (ngModelChange)="filterCliente(clienteDesc)">
                    <mat-autocomplete matNativeControl #autoCliente="matAutocomplete" name="cliente"
                        (optionSelected)='setCliente($event.option.value)'>
                        <mat-option *ngFor="let c of clientesFiltered" [value]="c">
                            <span *ngIf="c.pessoa.nome != undefined">{{c.pessoa.nome}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row wrap" *ngIf="txtCliente != '' ">
            <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
                <mat-form-field>
                    <mat-select name="tipoPessoa" placeholder="Tipo Pessoa" [(ngModel)]="cliente.pessoa.tipoPessoa">
                        <mat-option value="PF">PF</mat-option>
                        <mat-option value="PJ">PJ</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
                <mat-form-field>
                    <input matInput placeholder="CPF ou CNPJ" type="input" name="cpfCnpj"
                        [(ngModel)]="cliente.pessoa.cpfCnpj">
                </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
                <mat-form-field>
                    <input matInput placeholder="Endereço" type="input" name="endereco" [(ngModel)]="cliente.endereco">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row wrap" *ngIf="txtCliente != '' ">
            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="E-mail" type="input" name="email" [(ngModel)]="cliente.email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="WhatsApp" type="input" name="whatsApp" [(ngModel)]="cliente.whatsApp">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-table #table [dataSource]="listProdutoCliente" matSort>
                    <!-- Name Column -->
                    <ng-container matColumnDef="descricao">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right"
                            style="min-width: 300px;">
                            descricao
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="align-right" style="min-width: 300px;">
                            {{row.produto.descricao}}
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="enumTipounidade">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> enumTipounidade
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.produto.enumTipounidade}}
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="precoCusto">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right"> Preço Custo
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="align-right"> {{ row.produto.precoCusto }}
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="precoBase">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Preço Base
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.produto.precoBase}}
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="precoVenda">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Preço Venda
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.precoVenda}}
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="botao">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="align-right">
                            <div style="margin-right: 2rem;">
                                <button id="historico" mat-raised-button class="btn btn-sm"
                                    (click)="sub()" style="cursor: pointer;">
                                    <mat-icon>maximize</mat-icon>
                                </button>
                            </div>
                            <div>
                                <strong>{{count}}</strong>
                            </div>
                            <div style="margin-left: 1rem;">
                                <button id="sub" mat-raised-button  class="btn btn-sm"
                                    (click)="add()" style="cursor: pointer;">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="acao">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="align-right">
                            <div style="margin-right: 2rem;">
                                <button id="historico" mat-raised-button color="primary" class="btn btn-sm"
                                    (click)="edit(row)" style="cursor: pointer;">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                            <div>
                                <button id="historico" mat-raised-button color="warn" class="btn btn-sm"
                                    (click)="delete(row)" style="cursor: pointer;">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>