<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div style="text-align: left; margin-bottom: 1%;">
                    <button mat-raised-button color="primary" class="btn btn-sm" (click)="openDialog()"
                        style="cursor: pointer">
                        NOVO</button>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div class="bg-light p-10 p-r-20 p-l-20">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar (Filtro)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-table #table [dataSource]="filteredData" matSort>
                            <!-- Name Column -->
                            <ng-container matColumnDef="endereco">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right" style="min-width: 300px;"> Endereço
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right" style="min-width: 300px;"> {{row.endereco}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nome
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pessoa.nome}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="cpfCnpj">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right" > CpfCnpj
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right"> {{ row.pessoa.cpfCnpj ? (row.pessoa.cpfCnpj | cpfcnpj): 'Não informado'}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="tipoPessoa">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Pessoa
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pessoa.tipoPessoa}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 200px;"> E-mail
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="min-width: 200px;"> {{row.email}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="whatsApp">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right"> WhatsApp
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right"> {{row.whatsApp}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="acao">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right">
                                    <div style="margin-right: 2rem;">
                                        <button id="historico" mat-raised-button color="primary" class="btn btn-sm"
                                            (click)="edit(row)" style="cursor: pointer;">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                    <div>
                                        <button id="historico" mat-raised-button color="warn" class="btn btn-sm"
                                            (click)="delete(row)" style="cursor: pointer;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>