<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Registrar Cliente</mat-card-title>
                    <form>
                        <div fxLayout="row wrap">
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Nome Cliente" type="input" name="nome"
                                        [(ngModel)]="cliente.pessoa.nome">
                                    <mat-icon matSuffix>edit</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <mat-select name="tipoPessoa" placeholder="Tipo Pessoa"
                                        [(ngModel)]="cliente.pessoa.tipoPessoa">
                                        <mat-option value="PF">PF</mat-option>
                                        <mat-option value="PJ">PJ</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap">
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="CPF ou CNPJ" type="input" name="cpfCnpj"
                                    [textMask]="{mask: cpfcnpjmask}" [(ngModel)]="cliente.pessoa.cpfCnpj">
                                </mat-form-field>
                            </div>
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Endereço" type="input" name="endereco"
                                        [(ngModel)]="cliente.endereco">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row wrap">
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="E-mail" type="input" name="email"
                                        [(ngModel)]="cliente.email">
                                    <mat-icon matSuffix>mail</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="WhatsApp" type="input" name="whatsApp"
                                    [textMask]="{mask: telCelMask}" [(ngModel)]="cliente.whatsApp">
                                    <mat-icon matSuffix>phone</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" class="btn btn-sm" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" class="btn btn-sm" (click)="save()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>