<mat-card>
    <mat-card-content>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Produto" aria-label="Produto" [matAutocomplete]="autoProduto"
                        [(ngModel)]="txtProduto" name="produto" #produtoDesc
                        (ngModelChange)="filterProduto(produtoDesc)">
                    <mat-autocomplete matNativeControl #autoProduto="matAutocomplete" name="produto"
                        (optionSelected)='setProduto($event.option.value)'>
                        <mat-option *ngFor="let p of produtosFiltered" [value]="p">
                            <span *ngIf="p.descricao != undefined">{{p.descricao}} - {{p.enumTipounidade}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" style="margin-left: 5%;">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Cliente" aria-label="Cliente" [matAutocomplete]="autoCliente"
                        [(ngModel)]="txtCliente" name="cliente" #clienteDesc
                        (ngModelChange)="filterCliente(clienteDesc)">
                    <mat-autocomplete matNativeControl #autoCliente="matAutocomplete" name="cliente"
                        (optionSelected)='setCliente($event.option.value)'>
                        <mat-option *ngFor="let c of clientesFiltered" [value]="c">
                            <span *ngIf="c.pessoa.nome != undefined">{{c.pessoa.nome}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" style="margin-left: 5%;">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Preço de Venda" type="input" [(ngModel)]="ProdutoCliente.precoVenda">
                </mat-form-field>
            </div>
        </div>
        <div style="text-align: right; margin-top: 2%;">
            <button mat-raised-button color="primary" class="btn btn-sm" style="cursor: pointer" (click)="cadastrar()">
                Cadastrar</button>
        </div>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div class="bg-light p-10 p-r-20 p-l-20">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar (Filtro)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-table #table [dataSource]="filteredData" matSort>
                            <!-- Name Column -->
                            <ng-container matColumnDef="produto">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right"
                                    style="min-width: 300px;"> Produto
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right" style="min-width: 300px;">
                                    {{row.produto.descricao}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="cliente">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cliente.pessoa.nome}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="preco">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Preço Venda
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.precoVenda}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="enumTipounidade">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.produto.enumTipounidade}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="acao">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right">
                                    <div style="margin-right: 2rem;">
                                        <button id="historico" mat-raised-button color="primary" class="btn btn-sm"
                                            (click)="edit(row)" style="cursor: pointer;">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                    <div>
                                        <button id="historico" mat-raised-button color="warn" class="btn btn-sm"
                                            (click)="delete(row)" style="cursor: pointer;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>