<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Registrar Produto</mat-card-title>
                    <form>
                        <div fxLayout="row wrap">
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Descrição" type="input" name="descricao" [(ngModel)]="produto.descricao">
                                    <mat-icon matSuffix>edit</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" >
                                <mat-form-field>
                                    <mat-select name="enumTipounidade" placeholder="Tipo" [(ngModel)]="produto.enumTipounidade">
                                        <mat-option value="UNIDADE">UNIDADE</mat-option>
                                        <mat-option value="PACOTE">PACOTE</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap">
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Preço Custo" type="input" name="precoCusto" [(ngModel)]="produto.precoCusto">
                                </mat-form-field>
                            </div>
                            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Preço Base" type="input" name="precoBase" [(ngModel)]="produto.precoBase">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" class="btn btn-sm" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" class="btn btn-sm" (click)="save()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>