<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div style="text-align: left; margin-bottom: 1%;">
                    <button mat-raised-button color="primary" class="btn btn-sm" (click)="openDialog()"
                        style="cursor: pointer">
                        NOVO</button>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div class="bg-light p-10 p-r-20 p-l-20">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar (Filtro)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-table #table [dataSource]="filteredData" matSort>
                            <!-- Name Column -->
                            <ng-container matColumnDef="descricao">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right" style="min-width: 300px;"> Descrição
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right" style="min-width: 300px;"> {{row.descricao}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="enumTipounidade">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.enumTipounidade}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="precoCusto">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right" style="text-align: right;" > Preço Custo
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right"> {{ row.precoCusto}}
                                </mat-cell>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="precoBase">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Preço Base
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.precoBase}}
                                </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="acao">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="align-right">
                                    <div style="margin-right: 2rem;">
                                        <button id="historico" mat-raised-button color="primary" class="btn btn-sm"
                                            (click)="edit(row)" style="cursor: pointer;">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                    <div>
                                        <button id="historico" mat-raised-button color="warn" class="btn btn-sm"
                                            (click)="delete(row)" style="cursor: pointer;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>